@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-white;
  /* @apply pl-3; */
  padding: 20px;
}

:where(.css-dev-only-do-not-override-txh9fw).ant-btn-primary{
  background-color: #1677ff;
}

li {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  border-radius: 6px;
  margin: 10px 5px;
  min-height: 80px;
  font-size: 16px;
}

li:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  transform: translateY(-2px);
}
